# Exclude windows config files, shortcuts and temporary files
*.db
*.ini
*.lnk
*.url
~*
$RECYCLE.BIN/

# Exclude tmp files
*tmp*

# Exclude build folder
/[Tt]arget

# Ignore vim files
*~
*.swp

# Configure ignore and track for Visual Studio and Visual Studio Code
.vs/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
